* {
    box-sizing: border-box;
}

@font-face {
    font-family: piedra;
    src: url('../css/fonts/Piedra-Regular.ttf');
}

@font-face {
    font-family: memeimpact;
    src: url('../css/fonts/impact.ttf');
    color: black;
    font-weight: 800;
}

body {
    margin: 0;
    padding: 0;
    font-family: piedra, sans-serif;
}

header {
    width: 100%;
    background-color: rgba(104, 1, 1, 0.85);
    box-shadow: 0px 6px #fb9624;
}

.header-container {
    margin: 0 auto;
}

/* NAV */

.logo img {
    height: 65px;
    width: 300px;
}

.main-nav li {
    height: 70px;
    padding: 10px;
    border-inline-start: 2px solid black;
}

.main-nav li .fas {
    padding-right: 10px;
}

.main-nav li:last-child {
    border-inline-end: 2px solid black;
}

.main-nav li a:not(:last-child) {
    margin-inline-end: 5px;
}

/* SEARCH-SECTION */

.search {
    margin: 10px auto;
    height: 100px;
}

.search-bar {
    flex-basis: 30%;
    text-align: center;
    align-items: center;
}

.search-bar .fas {
    position: relative;
    right: 42px;
    cursor: pointer;
}

.search-words {
    flex-basis: 70%;
    letter-spacing: 1px;
    border: 2px solid black;
    padding: 5px;
    height: 100%;
}

.search-words>* {
    padding: 5px;
}

#search-box {
    width: 280px;
    height: 50px;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 10px;
    outline: none;
}

/* IMAGE-CONTAINER */

.image-container {
    text-align: center;
    margin: 10px auto;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 200px));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    grid-auto-columns: 200px;
    grid-gap: 10px;
    padding: 20px 0;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    cursor: pointer;
    transition: transform .3s;
}

.image-container img:hover {
    transform: translate(-20px, -5px);
}

/* MEME- MODAL */

.modal {
    position: absolute;
    /* width: 70%;
    height: 80%; */
    top: 50%;
    left: 50%;
    background-color: brown;
    transform: translate(-50%, -175%);
    border: 3px solid black;
    visibility: hidden;
    opacity: 0;
    transition: opacity, transform .8s;
    z-index: 5;
}

.modal .meme-container {
    padding: 10px;
    flex-basis: 50%;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.meme-container .meme-actions .btn-action {
    flex-basis: 30%;
    padding: 5px;
    font-size: 1.3rem;
    font-family: piedra, sans-serif;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    background-color: rgba(255, 248, 220, 0.801);
    transition: all .3s;
}

.meme-container .meme-actions .btn-action:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.meme-container .btn-reset {
    background-color: lightgray;
    font-family: piedra, sans-serif;
    padding: 10px;
    font-size: 1.4rem;
    border-radius: 20px;
    letter-spacing: 0.9px;
    transition: all .2s;
}

.meme-container .btn-reset:hover {
    background-color: crimson;
    cursor: pointer;
}

/* MODAL SETTINGS EDITOR */

.meme-settings {
    flex-basis: 50%;
}

#user-txt {
    width: 80%;
    height: 30px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.9px;
    border-radius: 20px;
    padding: 20px;
    outline: none;
}

.section-head {
    align-self: center;
    font-size: 2rem;
    margin: 10px 0;
}

.meme-settings .fas {
    transition: transform .2s;
}

.meme-settings .fas:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.meme-settings input~.fas {
    position: absolute;
    top: 25px;
    right: 9px
}

.meme-settings>.fas {
    position: absolute;
    top: 27px;
    right: 412px;
}

/* STICKERS-CONTAINER */

.stickers-container {
    height: 200px;
    width: 445px;
    border: 3px solid black;
    margin: 10px auto;
    border-radius: 20px;
}

/* ABOUT */

.about {
    margin: 10px auto;
    text-align: center;
    height: 100px;
    padding: 10px;
    border: orange solid 3px;
}

/* HELPERS */

.container {
    max-width: 980px;
}

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.center {
    justify-content: center;
}

.flex.align-items {
    align-items: center;
}

.flex.col {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.clean-list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 166, 0, 0.507);
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: opacity .8s;
}

.screen.on {
    visibility: visible;
    opacity: 1;
}

/* SCREEN-OPTIMIZATION */

@media (max-width:480px) {
    .container {
        max-width: 480px;
    }
    .header-container {
        flex-direction: column;
    }
    .main-nav {
        border: 2px solid black;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
    .search-box {
        flex-basis: 100%;
    }
    .image-container {
        grid-template-columns: repeat(2, 200px);
        grid-auto-rows: 200px;
        grid-gap: 10px;
        grid-auto-flow: dense;
    }
    .search {
        flex-direction: column;
    }
    .search-bar, .search-words {
        width: 100%;
    }
    .modal {
        flex-direction: column;
        max-width: 440px;
    }
    .modal.open {
        transform: translate(-50%, -30%);
    }
}